<nav class="nav-bar bg-white text-black">
  <div class="menu-area">
    <div class="logo-image"></div>
    <h2 class="logo-title">HowAboutRecipes</h2>
  </div>
  <div class="search-box  border-b-personal-palette-magenta-haze">
    <input class="search-field search-field-placeholder text-black placeholder:text-black" placeholder="Search here..." type="text">
    <i class="bx bx-search bx-sm text-personal-palette-magenta-haze"></i>
  </div>
  <div class="login-area">
    <button class="btn btn-primary-full text-white">
      <i class="bx bx-log-in-circle pe-1"></i>
      Accedi
    </button>
  </div>
</nav>

