<section class="showcase">
    <div class="default-size-container">
        <div class="showcase-content">
            <button #prevButton class="prev-card-button"><i class="bx bx-chevron-left bx-md"></i></button>
            <button #nextButton class="next-card-button"><i class="bx bx-chevron-right bx-md"></i></button>
            
            <div #showcaseCarousel class="showcase-carousel">
                @for(recipe of this.recipesData; track recipe) {
                    <div class="card">
                        <div class="card-image">
                            <img [src]="getImagePath(recipe.title)" [alt]="recipe.title" [title]="recipe.title" loading="lazy">
                        </div>
                        <div class="card-content">
                            <div class="card-info-container">
                                <ul class="card-info text-shadow-red">
                                    <li class="time">
                                        <i class="bx bxs-time bx-sm rounded-full"></i>
                                        <p>{{ getPreparationTimeAsString(recipe.preparation_time)}}</p>
                                    </li>
                                    <li class="difficulty">
                                        <i class="bx bxs-food-menu bx-sm"></i>
                                        <p>{{ getRecipeDifficultyAsString(recipe.difficulty) }}</p>
                                    </li>
                                </ul>
                            </div>
                            <ul class="tags-list">
                                @for(tagItem of recipe.tags; track tagItem.id) {
                                    <li class="tag">
                                        <a [routerLink]="'/tags/' + tagItem.id" [title]="tagItem.name">{{ tagItem.name }}</a>
                                    </li>
                                }
                            </ul>
                            <div class="card-text-info">
                                <h1 class="title">{{ recipe.title }}</h1>
                                <p class="description">{{ recipe.description }}</p>
                            </div>
                            <div class="button-container">
                                <a [routerLink]="'/recipes/' + recipe.id" [title]="recipe.title" class="see-more-button btn-purple-full group" >
                                    <i class="bx bx-chevron-right bx-md group-hover:scale-150"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>