<div class="nav-container">
  <div class="default-size-container">
    <nav class="nav-bar default-size-container">
      <div class="menu-area">
        <a routerLink="/home" class="btn">
          <div class="logo-image"></div>
          <h2 class="logo-title">HowAboutRecipes</h2>
        </a>
      </div>
      <div class="search-box">
        <input class="search-field" placeholder="Search here..." type="text">
        <i class="bx bx-search bx-sm"></i>
      </div>
      <div class="login-area">
        @if(this.authService.isUserLoggedIn()) {
          <div class="auth-box">
            <a routerLink="/dashboard" class="btn btn-default btn-purple-full">
              <p>Account</p>
              <i class="bx bxs-user bx-sm"></i>
            </a>
            <a class="btn btn-default btn-purple-full" (click)="doLogOut()">
              <i class="bx bx-log-out bx-sm"></i>
            </a>
          </div>

        } @else {
          <a routerLink="/login" class="btn btn-default btn-purple-full">
            <p>Log In</p>
            <i class="bx bx-log-in-circle bx-sm"></i>
          </a>
        }
      </div>
    </nav>
  </div>
</div>


