
/* --- Imports --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Global Style Utilities --- */

/* --------- Containers --------- */
.main-container {
  @apply w-full min-h-screen overflow-hidden;      
}

/*.screen-size-default*/ .default-size-container {
  @apply w-[90%] max-w-[1980px] mx-auto;
}


/* --------- Component Assets --------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.text-shadow-red { text-shadow: 2px 2px 6px #BE123E; }
.text-shadow-purple { text-shadow: 2px 2px 6px #581C87; }
.text-shadow-black { text-shadow: 2px 2px 6px rgba(0, 0, 0, .5); }


.logo-image {
  background-image: url('/images/logo-image.png');
  background-size: cover;
  background-position: center;
}

.btn { @apply cursor-pointer; }
.btn-default { @apply px-6 py-2 rounded-2xl font-bold flex space-x-2 justify-center items-center; }

.btn-purple-full { 
  @apply  bg-gradient-to-br from-purple-400 to-purple-500 text-white
          hover:bg-gradient-to-br hover:from-purple-500 hover:to-purple-800; 
          text-shadow: 2px 2px 6px #581C87; 
}

