<main class="main-container">
    <app-header />

    <div class="default-size-container">
        <div class="image-container">
            <div class="image-404"></div>
        </div>
        <h1 class="title">Page not Found</h1>
        <div class="text-container">
            <h3>It seems that the page you were looking for does not exist, or at least is not reachable.</h3>
            <h3>But don’t worry, there are so many recipes waiting for you!</h3>
        </div>
        
    </div>

    <app-category-showcase categoryTitle="How About one of these beautiful Recipes" cardStyle="card-blue" />

    <app-footer />
</main>
